html {
    scroll-padding-top: 50px; /* Înălțimea navbar-ului */
}

body {
    font-family: "Nerko One", cursive;
}

header {
    background-color: #f8f9fa;
}

h1, h2 {
    color: gold;
}

footer {
    background-color: #d3ad05; /* Fundal întunecat pentru footer */
    color: white;
}

/* Stilizare nav-bar */

.navbar.sticky-top {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.95); /* Fundal semitransparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adaugă o umbră subtilă */
}

/* Stilizare sectiune about */

#about img {
    max-width: 100%;
    height: auto; /* Păstrează proporțiile corecte ale imaginii */
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
}

/* Stilizare formular */

#contact input, 
#contact textarea {
    font-size: 1.1rem;
    padding: 10px;
}

#contact button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: transparent;
    color: black;
    border: none;
}
